<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11533306413-la6atlnrk9f75ru2dqt2963tse93ptvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11533306413-la6atlnrk9f75ru2dqt2963tse93ptvr</string>
	<key>API_KEY</key>
	<string>AIzaSyD_eTc61ugSjPNzhMyuwj-NISlTYpubKjI</string>
	<key>GCM_SENDER_ID</key>
	<string>11533306413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>finalproject-36bcd</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-36bcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11533306413:ios:e8e6837f9f6d28050a86a4</string>
</dict>
</plist>